.registrationsucces-hidden {
    display: none;
}

.registrationerror-hidden {
    display: none;
}

.material-insert-success-hidden {
    display: none;
}

.material-insert-error-hidden {
    display: none;
}