/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/templates/simple-sidebar)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

 html {
  scroll-behavior: smooth;
}

 #wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

.menu-logo {
    padding: 20px 20px 0px 20px;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.area {
  padding-bottom: 20px;
}

#sidebar-wrapper {
  position: fixed;
  z-index: 9999;
}

#page-content-wrapper{
  margin-left: 15rem;
  transition: margin .25s ease-out;
  transition-property: margin;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  transition-delay: 0s;

}

.area:nth-of-type(odd){
  background-color: #efefef;
}

.area:nth-of-type(even){
  background-color: #ffffff;
}

.area:nth-of-type(odd) h1{
  padding-top: 10px;
}

.area h1 {
  padding-bottom: 20px;
}

#page-content-wrapper {
  margin-left: 0rem;
}

#page-content-wrapper.toggled {
  margin-left: 15rem;
}

#page-content-wrapper.overview {
  margin-left: 0!important;
}

#embodiedEnergy {
    display: contents;
}

.image-frame {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.image-frame img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 20px;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  z-index: 99999;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.config {
  min-height: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
}

label{
    margin-bottom: 0px;
}

.config .row {
  display: flex;
  align-items: center;
  width: 100%;
}

#menu-toggle-mobile {
    position: absolute;
    bottom: 55px;
    left: 150px;
}

.mobile-float-right {
    margin-left: auto;
}

.fixed-progress-bar {
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    border-radius: 5px;
    padding-bottom: 5px;
    z-index: 9999;

}

.fixed-progress-bar .progress-bar {
    background-color: #dc3545 ;
}



body {
    padding-bottom: 50px;
}

/* Media Queries */
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

  #page-content-wrapper {
    margin-left: 15rem;
  }

  #page-content-wrapper.toggled {
    margin-left: 0rem;
  }
}
