.icon-template {
    padding: 20px;
}

.template-block {
    width: 33.333%;
    cursor: pointer;
    border-radius: .25rem;
}

.template-block:hover{
    background-color: #f8f9fa;
}

.template-block h4 {
    text-align: center;
}